<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div id="orders">
  <% @orders.each_with_index do |order,index| %>
    <%= render order %>
    <p>
      <%= link_to "Show this Order", order %>
    </p>
  <% end %>
</div>

<%= link_to "New order", products_path %>
